@import "./global.scss";

.dashboard {
    display: grid;
    grid-template-columns: 260px 1fr;
    // min-height: calc(100vh - 70px);
    min-height: 100vh;

    &__sidebar {
        // background-color: #293042;
        background-color: #111927;
        padding-top: 1.5em;

        & li {
            display: flex;
            list-style: none;
            padding: 0.8em 1.6em;
            color: #adb5bd;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                color: white;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    &__logo {
        @include flex-center;
        margin-bottom: 1em;
        text-decoration: none;

        & > h2 {
            font-size: 26px;
        }
    }

    &__graph {
        padding: 3em;
        background-color: #f7f8fb;
        // @include flex-center;

        &-container {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;

            grid-template-areas:
                "card-1 card-2 card-3 card-4"
                "pie-chart pie-chart pie-chart pie-chart"
                // ". pie-chart pie-chart ."
                "table table table table";
        }

        &-piechart {
            grid-area: pie-chart;

            & > div {
                border-radius: $graph-radius;
                width: min-content;
                box-shadow: $box-shadow;
                margin: 0 auto;
            }
        }

        &-table {
            grid-area: table;
        }

        &-chart {
            grid-area: chart;

            & > div {
                border-radius: $graph-radius;
                width: min-content;
                box-shadow: $box-shadow;
                margin: 0 auto;
            }
        }
    }
}

.active {
    color: white !important;
}
