@import "../../styles/global.scss";

.areachart {
    grid-area: chart;

    & > div {
        border-radius: $graph-radius;
        // width: min-content;
        box-shadow: $box-shadow;
        margin: 0 auto;
    }
}
